.app-fab--fixed {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media screen and (min-width:600px) {
  .app-fab--fixed {
    bottom: 3em;
    right: 5em;
  }
}

.restaurant-grid {
  max-width: 1024px;
}

.restaurant-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mdc-card {
  justify-content: flex-start;
}

.mdc-card__primary {
  background-color: #DCEDC8;
}

:root {
  --mdc-theme-primary: #8BC34A;
  --mdc-theme-accent: #FF5252;
}
